$color-light = #f8f8f8
$color-dark = #2c3e50
$color-moon = #eab700

$moon-size = 2em

$break-1 = 600px
$break-2 = 700px
$break-3 = 800px
$break-4 = 1000px

html
  font-family $font-text
  font-size 18px
  
body
  line-height 1.5
  background-color $color-light
  text-rendering optimizeLegibility
  color $color-dark
  margin 0
  & > *
    clearfix()
    margin 0 auto
    width 90%
    @media screen and (min-width: $break-1)
      width 80%
    @media screen and (min-width: $break-2)
      width 70%
    @media screen and (min-width: $break-3)
      width 60%
    @media screen and (min-width: $break-4)
      width 50%
  & > header
    margin-top 4em
    margin-bottom 2em
    @media screen and (min-width: $break-1)
      margin-top 5em
      margin-bottom 3em
    @media screen and (min-width: $break-2)
      margin-top 6em
      margin-bottom 4em
    @media screen and (min-width: $break-3)
      margin-top 7em
      margin-bottom 5em
    @media screen and (min-width: $break-4)
      margin-top 8em
      margin-bottom 6em
    p
      margin 0
  & > footer
    text-align center
    font-size 0.7em
    font-style italic
    margin 2em auto
    @media screen and (min-width: $break-1)
      margin 3em auto
    @media screen and (min-width: $break-2)
      margin 4em auto
    @media screen and (min-width: $break-3)
      margin 5em auto
    @media screen and (min-width: $break-4)
      margin 6em auto

h1
  font-family $font-text
  font-weight normal
  margin 0
  font-size 3em
  line-height 1em
  
h2
  font-weight normal
  
h3
  margin-top 1.5em

a
  color $color-dark

.social
  float right
  font-family $font-social
  font-size 0.7em
  text-decoration none
  footer &
    float none
    font-size 2.5em
    font-style normal

.twitter:hover, .twitter:active, .twitter:focus
  color #55ACEE
  
.github:hover, .github:active, .github:focus
  color #4183C4
  
.moon
  float left
  position relative
  width $moon-size
  height $moon-size
  margin (5/4)em 2em (5/4)em (5/4)em
  border-radius 50%
  background-color $color-moon
  &::after
    content ""
    position absolute
    left ($moon-size/2)
    width ($moon-size/2)
    height ($moon-size/2)
    border-radius 50%
    background-color $color-light