
//===================================================

// VARS

//===================================================

// colors

$color-light: white;
$color-dark: #2c3e50;
$color-moon: #F4D03F;

//===================================================

// structure

$height-social-link: 6rem;

$moon: 100px;

//===================================================

// typography

@font-face {
  font-family: "Socialglyphs";
  src: url("fonts/socialglyphs-regular.eot");
  src: url("fonts/socialglyphs-regular.eot?#iefix") format("embedded-opentype"),
       url("fonts/socialglyphs-regular.svg#socialglyphs-regular") format("svg"), 
  	   url("fonts/socialglyphs-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-header: "Oswald Light", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$font-text: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$font-social: "Socialglyphs", sans-serif; 

//===================================================

// media queries

$break-large: 860px;
$break-small: 640px;

//===================================================