
// ====================================================

/* CONTACT */

// ====================================================


#contact {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $height-social-link * 2;
}

.contact__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.contact__links__item {
  width: 33%;
  height: $height-social-link;
  font-family: $font-social;
  font-size: $height-social-link * 5/6;
  text-align: center;
  line-height: 100%;
  padding: $height-social-link * 5/6 0 $height-social-link * 1/6 0;
  color: $color-dark;
  transition: all 0.3s ease-out;
  &:hover {
    padding-top: 0;
  }
  @include breakpoint(baby-bear) {
    font-size: $height-social-link;
    width: 25%;
  }
  @include breakpoint(papa-bear) {
    width: 15%;
  }
}
.twitter:hover {
  color: #55ACEE;
}
.google:hover {
  color: #DD4B39;
}
.github:hover {
  color: #4183C4;
}

//===================================================