
// ====================================================

/* TITLE */

// ====================================================

#title {
  display: flex;
  align-items: center;
  height: 100%;
}

.title__inner {
  @include clearfix();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $moon*2;
  width: 100%;
  margin: 1em 0 $social-height*3/2 0;
  background-color: $color-light;
  @include breakpoint(baby-bear) {
    flex-direction: row;
    height: $moon;
  }
}

.title__moon {
  @include moon($moon, $color-dark, $color-light);
  float: left;
  width: $moon;
  height: $moon;
  margin-right: 2%;
}

.title__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $moon;
  text-align: center;
  transition: all 0.3s ease-out;
  @include breakpoint(baby-bear) {
    text-align: left;
  }
}
.title__text__heading {
  font-family: $font-text;
  font-size: 2rem;
  height: $moon * 3/5;
  vertical-align: center;
  line-height: $moon * 3/5;
}
.title__text__subheading {
  font-size: 1rem;
  height: $moon * 2/5;
  vertical-align: center;
  line-height: $moon * 2/5;
}

//===================================================